<div class="row" ng-controller="sedesController">
  <div class="col-md-3" id="row">
    <table>
      <tr>
        <td>
          <input type="text" ng-model="filtro_sedes" placeholder="Filtrar">
        <td>
      </tr>
      <tr>
        <td>
          Nueva Sede <i class="fa fa-plus-square-o" ng-click="getSedeModal(null)" title="Editar"></i>
        <td>
      </tr>
    </table>


  </div>
  <div class="col-md-9">
    <div class="form-inline text-right" >
      <div class="form-group">
        <label for="pagesize"> Resultados por página: </label>
        <select name="pagesize" id="pagesize" class="form-control" ng-model="pageSize">
          <option value="5" ng-selected="true" >5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Region</th>
          <th>Dirección</th>
          <th>Contact</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="sede in sedes | filter: filtro_sedes | itemsPerPage: pageSize">
          <td> {{sede.region.nombre}} </td>
          <td> {{sede.direccion}} </td>
          <td> {{sede.contacto}} </td>
          <td> <i class="fa fa-pencil-square-o" ng-click="getSedeModal(sede.id)" title="Editar"></i> </td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls template-url="/angular_tpl/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
  <%= render 'sedes/sede_modal' %>
</div>
