<div class="container" ng-controller="cargosController">
  <h2 class="page-header">Cargos</h2>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="form-inline">
        <div class="form-group">
          <button class="btn btn-success form-control" ng-click="getCargoModal(null)">
            <i class="fa fa-plus-square-o"></i> Nuevo Cargo
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="form-inline">
        <div class="input-group">
          <input type="text" ng-model="filtro_cargos" placeholder="Filtrar" class="form-control">
          <span class="input-group-addon" id="search-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="form-inline">
        <div class="form-group">
          <label for="pagesize"> Resultados por página: </label>
          <select name="pagesize" id="pagesize" class="form-control" ng-model="pageSize">
            <option value="5" ng-selected="true" >5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row cargos-list">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Cargo</th>
            <th>Lugar</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="cargo in cargos | orderBy:'persona.apellidos + persona.nombre' | filter: filtro_cargos | itemsPerPage: pageSize">
            <td> {{cargo.persona.nombre}} </td>
            <td> {{cargo.persona.apellidos}} </td>
            <td> {{cargo.tipo_cargo.titulo}} </td>
            <td> {{cargo.lugar}} </td>
            <td> {{cargo.fecha_desde}} </td>
            <td> {{cargo.fecha_hasta}} </td>
            <td>
              <i class="fa fa-pencil-square-o" ng-click="getCargoModal(cargo.id)" title="Editar"></i>
              <i class="fa fa-trash" ng-click="removeCargo(cargo)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls template-url="/angular_tpl/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
  </div>
  <%= render 'cargos/cargo_modal' %>
</div>
