<div class="container">
  <h2 class="page-header">Entidades</h2>

  <%= render :layout => 'form' do |f| %>
    <div class="row">
      <%= f.fields_for :participacion_entidads do |builder| %>
        <%= render 'participacion_entidad_fields', :f => builder %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= link_to_add_association f, :participacion_entidads, class: 'btn btn-default' do %>
          <i class="fa fa-plus"></i> Agregar entidad
        <% end %>
      </div>
    </div>
  <% end %>
</div>