
<div class="container" ng-controller="finanzas3Controller">

  <h2 class="page-header">Transferencias a fondos públicos</h2>

  <div class="row">
    <div class="col-md-12">
      <div id="flash_message" class="hidden alert alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <%= icon('road', id: '', class: 'fa-3x') %> En construcción
    </div>
  </div>


</div>
