<div class="container">
  <h2 class="page-header">Postulacion Popular</h2>

  <%= render :layout => 'form' do |f| %>

    <div class="row">
      <%= f.fields_for :eleccion_populars do |builder| %>
        <%= render 'eleccion_popular_fields', :f => builder %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= link_to_add_association f, :eleccion_populars, class: 'btn btn-default' do %>
          <i class="fa fa-plus"></i> Agregar eleccion popular
        <% end %>
      </div>
    </div>

  <% end %>
</div>