<div class="container" ng-controller="tipoCargosController">
  <h2 class="page-header">Tipos de Cargos</h2>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-default" ng-click="getTipoCargoModal(null)">
        <i class="fa fa-plus-square-o"></i> Nuevo Tipo de Cargo
      </button>
    </div>
    <div class="col-md-4">
      <div class="form-inline">
        <div class="input-group">
          <input type="text" ng-model="filtro_tipo_cargos" placeholder="Filtrar" class="form-control">
          <span class="input-group-addon" id="search-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-inline">
        <div class="form-group">
          <label for="pagesize"> Resultados por página: </label>
          <select name="pagesize" id="pagesize" class="form-control" ng-model="pageSize">
            <option value="5" ng-selected="true" >5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row cargos-list">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Fecha Creacion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="tipo_cargo in tipo_cargos | orderBy:'titulo' | filter: filtro_tipo_cargos | itemsPerPage: pageSize">
            <td> {{tipo_cargo.titulo}} </td>
            <td> {{tipo_cargo.created_at}} </td>
            <td>
              <i class="fa fa-pencil-square-o" ng-click="getTipoCargoModal(tipo_cargo.id)" title="Editar"></i>
              <i class="fa fa-trash" ng-click="removeTipoCargo(tipo_cargo)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls template-url="/angular_tpl/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
  </div>
  <%= render 'tipo_cargos/tipo_cargo_modal' %>
</div>
