<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Finanzas</li><li>Egresos ordinarios</li></ol>
<h3>Egresos ordinarios</h3>
<p class="no_data_big_message"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  ¡Sección en Desarrollo!</p>
<p class="no_data_small_message">¡Disculpe las molestias!
Esta sección de Partidos Públicos aún no se encuentra activa. Estamos trabajando para su próxima publicación.</p>
