<h3>Pactos electorales que integra</h3>

<% @pactos.each do |p| %>
<ul>
  <li><%= p.nombre_pacto %></li>
  <li><%= p.descripcion %></li>
  <li><%= p.ano_eleccion %></li>
  <li>Partidos:
    <ul>
      <% p.partidos.each do |partido| %>
      <li><%= partido.nombre %></li>
      <% end %>
    </ul>
  </li>
</ul>
<% end %>
