<div class="row">
  <div class="col-md-12">
    <h3>Regiones constituido y número de afiliados</h3>
    <select name="select-region" id="select-region">
      <option value="">Selecciona una región</option>
    </select>
  </div>

  <div class="hidden-xs col-md-4">
    <%= render 'svg_map' %>
  </div>
  <div class="col-md-8 text-center">
    <style>
      .showData { display: '' }
      .hideData { display: none }
    </style>

    <div id="region-nacional" class="showData">
      <div>
        <h4></h4>
        <h6></h6>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-nacional"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-nacional"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-1" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-1"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-1"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-2" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-2"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-2"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-3" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-3"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-3"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-4" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-4"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-4"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-5" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-5"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-5"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-6" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-6"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-6"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-7" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-7"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-7"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-8" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-8"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-8"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-9" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-9"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-9"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-10" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-10"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-10"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-11" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-11"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-11"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-12" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-12"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-12"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-13" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-13"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-13"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-14" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-14"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-14"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
    <div id="region-15" class="hideData">
      <div>
        <h3></h3>
        <h4></h4>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="circulo-15"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div id="desgloce-15"></div>
        </div>
        <div class="col-xs-7">
          <ul class="list-unstyled leyenda-desgloce"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
