<h3>Entidades en que tenga participación</h3>
<table class="table">
  <thead>
    <tr>
      <th>Entidad</th>
      <th>Descripción</th>
      <th>Documento</th>
    </tr>
  </thead>
  <tbody>
    <% @entidades.each do |e| %>
    <tr>
      <td><%= e.entidad %></td>
      <td><%= e.descripcion %></td>
      <td>
        <% if !e.documento_file_name.nil? %>
          <%= link_to e.documento_file_name, e.documento.url %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
