<script type="text/ng-template" id="cargo_modal_aside.html">
  <div class="modal-header">
    <h3>Cargos de {{ persona.id }}</h3>
  </div>
  <div class="modal-body">

      <%= simple_form_for :cargo, :multipart => true , :remote => true do |f| %>
        <select name="persona_id" ng-options="persona.id as persona.nombre +' ' + persona.apellidos +' ' + persona.rut for persona in personas" ng-model="cargo.persona_id" class="form-control chosen-select"></select>

        <select name="tipo_cargo_id" ng-options="tipo_cargo.id as tipo_cargo.titulo for tipo_cargo in tipo_cargos" ng-model="cargo.tipo_cargo_id" class="form-control chosen-select"></select>

        <select name="region_id" ng-options="region.id as region.nombre for region in regions" ng-model="cargo.region_id" class="form-control chosen-select"></select>

        <select name="comuna_id" ng-options="comuna.id as comuna.nombre for comuna in comunas" ng-model="cargo.comuna_id" class="form-control chosen-select"></select>



        <input name="fecha_desde" id="fecha_desde" type="date" ng-model="cargo.fecha_desde">

        <input name="fecha_hasta" id="fecha_hasta" type="date" ng-model="cargo.fecha_hasta">

      <% end %>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="save($event)">guardar</button>
      <button class="btn btn-warning" ng-click="cancel($event)">cancelar</button>
    </div>
  </div>
</script>
