<p id="notice"><%= notice %></p>

<p>
  <strong>Partido:</strong>
  <%= @marco_general.partido %>
</p>

<%= link_to 'Edit', edit_marco_general_path(@marco_general) %> |
<%= link_to 'Back', marco_generals_path %>
