<div class="container" >
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" style="margin-top:60px;">
		<img src="/img/logo-welcome.png" class="img-responsive" style="display:initial;">
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" style="margin-top:60px;">
		<p style="font-family:'Karla', 'sans-serif'; color:white; text-transform:uppercase;">Un proyecto de</p>
		<a href="http://ciudadanointeligente.org"><img src="img/logo-fci.png" class="img-responsive" style="display:initial;"></a>
		</div>
	</div>
</div>
