<section style="padding-bottom:0px;">
  <div class="exigeles" style="margin-top: 0px">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1>Pidámosle a los partidos que entreguen su información de la manera correcta <mark>#QuieroMejorTransparencia</mark><h1>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 style="margin-top:0px;">¡Elige un partido y exígele una mejor transparencia!</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Partidos activos en la plataforma</th>
                  <th>Twittéale</th>
                <tr>
              </thead>
              <tbody>
                <tr>
                  <tr>
                    <td>Partido Ciudadanos</td>
                    <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @Ciudadanos__ en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                  </tr>
                  <td>Partido Comunista</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @PCdeChile en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Demócrata Cristiano</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @PDC_Chile en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Ecologista Verde</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @ecologistachile en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Evópoli</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @evopoli en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Humanista</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @phumanista en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido MIRAS</td>
                  <td><a href="http://miras.cl/miras/index.php/contactenos" target="_blank" class="btn btn-warning btn-xs"><i class="icon-twitter"></i> Contáctalo </a></td>
                </tr>
                <tr>
                  <td>Partido Poder Ciudadano</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @PartidoPODER en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido por la Democracia</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @PPD_Chile en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Progresista</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @LosPROgresistas en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Radical Social Demócrata</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @PRSDChile en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Renovación Nacional</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @RNchile en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Revolución Democrática</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @RDemocratica en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Socialista</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @pschile en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Todos</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @todoscl en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Unión Demócrata Independiente</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl/manual" data-text="#QuieroMejorTransparencia de @udipopular en http://partidospublicos.cl Aquí se explica cómo:" data-lang="es" data-hashtags="PartidosPúblicos">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 style="margin-top:0px;">Aún hay partidos sin entrar a la cancha. ¡Invítalos a sumarse!</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Partidos inactivos en la plataforma</th>
                  <th>Twittéale</th>
                <tr>
              </thead>
              <tbody>
                <tr>
                  <td>Partido ANDHA Chile</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @andha_chile participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Democracia Regional Patagónica</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @DmRegional participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Fuerza Regional Norte Verde</td>
                  <td><a href="http://fuerzaregionalnorteverde.cl/#contacto" target="_blank" class="btn btn-warning btn-xs"><i class="icon-twitter"></i> Contáctalo </a></td>
                </tr>
                <tr>
                  <td>Partido Frente Regional y Popular</td>
                  <td><a href="http://frep.cl/contacto/" target="_blank" class="btn btn-warning btn-xs"><i class="icon-twitter"></i> Contáctalo </a></td>
                </tr>
                <tr>
                  <td>Partido Izquierda Ciudadana</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @izq_ciu participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Más Región</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @PartidoMAS_ participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Amplitud</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @AmplitudChile participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Frente Popular</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @FrentePopularFP participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Igualdad</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @IgualdadPartido participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido por la Integración Regional</td>
                  <td><a href="https://www.facebook.com/porlaintegracionregional/" target="_blank" class="btn btn-warning btn-xs"><i class="icon-twitter"></i> Contáctalo </a></td>
                </tr>
                <tr>
                  <td>Partido Liberal de Chile</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @Liberales_Chile participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Regionalista Independiente</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @PRI_NUEVOCENTRO participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Regionalista de Magallanes</td>
                  <td><a href="https://www.facebook.com/Partido-Regionalista-de-Magallanes-PRM-539860232843541/" target="_blank" class="btn btn-warning btn-xs"><i class="icon-twitter"></i> Contáctalo </a></td>
                </tr>
                <tr>
                  <td>Partido Somos Aysén</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @SomosAysen participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Unión Patriótica</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @chile_upa participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
                <tr>
                  <td>Partido Unidos Resulta en Democracia</td>
                  <td><a href="https://www.facebook.com/Unidos-resulta-586118288165084/" target="_blank" class="btn btn-warning btn-xs"><i class="icon-twitter"></i> Contáctalo </a></td>
                </tr>
                <tr>
                  <td>Partido Wallmapuwen</td>
                  <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://partidospublicos.cl" data-text="¡#QuieroMejorTransparencia y que @wallmapuwen participe en #PartidosPúblicos con información actualizada!" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</section>
