<section>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>No seas pavo
          <mark>#Twittea</mark></h1>
        </div>
        <div class="col-md-12">
          <p>Puedes encontrar esta info en app/views/pages/twittea.html.erb</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
