<script type="text/ng-template" id="sede_modal_aside.html">
  <div class="modal-header">
    <h3>Datos Sede</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for :sede, :multipart => true , :remote => true do |f| %>
      <%= f.input :partido_id, as: :hidden, :value => @partido.id, input_html: { 'ng-model': "sede.partido_id"} %>
      <div class="form-group">
        <label for="sede_region_id">Región</label>
        <select name="region_id" id="region_id" ng-model="sede.region_id" ng-init="sede.region_id" ng-options="r.id as r.nombre for r in regions" class="form-control chosen-select"></select>
      </div>
      <%= f.input :direccion, input_html: { 'ng-model': "sede.direccion", 'placeholder': "Dirección sede" } %>
      <%= f.input :contacto, input_html: { 'ng-model': "sede.contacto", 'placeholder': "Contacto sede" } %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save($event)">guardar</button>
    <button class="btn btn-warning" ng-click="cancel($event)">cancelar</button>
  </div>
</script>