<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @documento.descripcion %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
