@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'https://fonts.googleapis.com/css?family=Karla:400,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'partidos';

$red : #87e0fd; 	/* Here's how you assign the values to a variable */
$darkblue : #2cafe3;
$cpad: 20px;		/* Variables are not limited to colors, you can use it to store values too*/
$nude: #FCEDF0;
$nude-light: #FFF9FA;
$orange-dark: #E85D34;
$orange: #F28269;
$orange-light: #FAC5BE;
$blue: #012639;
$green: #1AC0A4;
$green-light: #23DBB8;
$green-dark: #19A58A;
$sky-dark: #06B9BF;
$sky-light: #78EEE8;

/*GENERAL*/
html{position:relative;min-height:100%}

body {
	background-color: $nude;
	font-family: 'Karla', sans-serif;
	color: $blue;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-text-size-adjust: 100%;
}

footer{position:absolute;bottom:0;width:100%;}

span{
	font-weight: 700;
}

.list-inline > li{
	padding-left: 15px;
}

.btn{
	text-transform: uppercase;
}

/*NAV*/
.navbar-default{
	background-color: #012639;
	border: none;
	height: 70px;
	border-radius: 0px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: -30px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.3px;
  font-weight: 700;
	padding: 24px 15px;
	font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: $orange;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: $orange;
}

.dropdown-menu {
  padding: 8px 0;
  font-size: 11px;
  background-color: #012639;
  border-radius: 0;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1.3px;
	border: none;
}

.navbar-nav > li > .dropdown-menu{
	margin-top: -15px;
	border-radius: 5px;
}

li.redes{
	margin-top: -5px;
	float: left;
}

.dropdown-menu > li > a{
	color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: $orange;
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background-color: transparent;
    z-index: 2000;
}

.brand img{
	position: absolute;
	top: 13px;
}

.sub-brand{
	position: relative;
	top: 35px;
	left: -16px;
	min-width: 200px;
	a{
		color: $sky-dark;
		&:hover{
			color: white;
			text-decoration: none;
		}
		&:focus{
			color: white;
			text-decoration: none;
		}
	}
}

/*JUMBOTRON*/
.jumbotron{
	height: inherit;
	padding-top: 70px;
	background: asset-url('images/welcome.svg') right no-repeat $orange-dark;
		h1{
			color: white;
		}
}

mark{
	background-color: white;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: $orange-dark;

}

.mark-date{
 background-color: $sky-dark;
 color: white;
 font-weight: 700;
 font-size: 12px;
}

.btn-lg{
		background-color: transparent;
		border: 3px solid white;
		border-radius: 50px;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		font-weight: 700;
		font-size: 14px;
		margin-top: 10px;
		color: white;
		height: 44px;
		&:hover{
			background-color: $blue;
			border-color: $blue;
			color: white;
		}
		&:focus{
			background-color: $blue;
			border-color: $blue;
			color: white;
		}
}

/*HEADINGS*/
h1{
	font-size: 63px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
	margin-bottom: 20px;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	margin: 70px 0 10px 0;
}

h3{
	font-weight: 700;
	color: $orange-dark;
	margin: 5px 0 10px 0;
}

h4{
	font-weight: 700;
	color: $blue;
	a{
		&:hover{
			color: $orange;
			text-decoration: none;
		}
		&:focus{
			color: $orange;
			text-decoration: none;
		}
	}
}

h6{
	color: $blue;
}

/*HOME*/
section#que-es{
	margin-top: -110px;
	background: asset-url('images/ciudadanos.svg') 70% 120% no-repeat white;
}
section#fechas{
	background: asset-url('images/fechas.svg') 80% 104% no-repeat $nude;
}
section#funciones{
	background-color: $nude;
}
section#partidos{
	background-color: white;
	margin-bottom: -70px;
}

section#cancha{
	background-color: white;
	margin-bottom: -152px;
	img{
		width: 100%;
		bottom: 0;
	}
}

section{
	padding: 30px 0 80px 0;
}

.btn-primary{
	border-radius: 50px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	font-weight: 700;
	font-size: 11px;
	height: 34px;
	&.basic{
		background-color: white;
		border: 3px solid white;
		color: $blue;
		margin-top: 60px;
		a{
			color: $blue;
			&:focus{
				color: $blue;
			}
		}
		&:hover{
			background-color: $orange;
			border: 3px solid $orange;
			a{
				color: white;
				text-decoration: none;
			}
		}
		&:focus{
			background-color: $orange;
			border: 3px solid $orange;
			a{
				color: white;
				text-decoration: none;
			}
		}
	}
	&.basic-inverse{
		background-color: $nude;
		border: 3px solid $nude;
		color: $blue;
		margin-top: 60px;
		a{
			color: $blue;
			&:focus{
				color: $blue;
			}
		}
		&:hover{
			background-color: $orange;
			border: 3px solid $orange;
			a{
				color: white;
				text-decoration: none;
			}
		}
		&:focus{
			background-color: $orange;
			border: 3px solid $orange;
			a{
				color: white;
				text-decoration: none;
			}
		}
	}
}

/*TIMELINE*/
.timeline {
  position: relative;
  width: 550px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  top: 23px;
  content: ' ';
  display: block;
  width: 3px;
  height: 72%;
  margin-left: -3px;
  background: $blue;

  z-index: 5;
}

.timeline li {
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-r {
  position: relative;
	left: 30px;
	margin: 5px 0 20px 0;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: $orange-dark;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
	color: white;
	margin-bottom: 10px;
}

.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -35px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: $sky-dark;
  border-radius: 10px;
  border: 4px solid $sky-dark;
  z-index: 10;
}

.direction-r .flag:before {
  left: -38px;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: $orange-dark;
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

.desc > ul > li{
	list-style-type: disc;
	text-align: left;
}

/*CAROUSEL*/
.carousel{
	min-height: 550px;
	margin-top: 30px;
}

.carousel-control.right, .carousel-control.left{
	background-image: none;
	background-repeat: no-repeat;
}

.carousel-control{
	opacity: 1;
	text-shadow: none;
	color: $blue;
	font-size: 14px;
	width: initial;
	top: 45%;
	&:hover{
		color: $orange;
	}
	&:focus{
		color: $orange;
	}
}

.carousel-indicators{
	top: 103%;
}

.carousel-indicators .active{
	background-color: $orange;
}

.carousel-indicators li{
	border: 1px solid $orange;
}

.vistas > img{
	width: 100%;
}

/*PARTIES SECTION*/
.thumbnail{
	border: none;
	margin-bottom: 5px;
	img{
		margin: auto;
	}
}

.caption{
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: $blue;
}

a.btn.btn-xs.parties{
	background-color: $green;
	color: white;
	border: 2px solid $green;
	display: inline-block;
	word-wrap: break-word;
	white-space: normal;
	border-radius: 12px;
	letter-spacing: 1.2px;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin-top: -12px;
	padding: 1px 5px;
	font-family: 'Montserrat', sans-serif;
	&:hover{
		color: $green;
		background-color: transparent;
	}
}

.label-default{
	border: 2px solid #777777;
	height: 24px;
	border-radius: 12px;
	letter-spacing: 1.2px;
	font-weight: 700;
	font-size: 11px;
	line-height: 17px;
	text-transform: uppercase;
}

.compare{
	background-color: transparent;
	border: 2px solid $orange-dark;
	border-radius: 20px;
	letter-spacing: 1.2px;
	font-weight: 700;
	color: $orange-dark;
	a{
		color: $orange-dark;
		&:hover{
			color: white;
			text-decoration: none;
		}
	}
	&:hover{
		background-color: $orange-dark;
		color: white;
		a{
			color: white;
			text-decoration: none;
		}
	}
}

/*PARTIES INFO*/
section.aviso{
	background-color: white;
	margin: 70px 0 -70px 0;
	padding: 20px;
	height: 65px;
	font-size: 12px;
	font-weight: 700;
	.btn-xs{
		position: relative;
		top: 0;
		background-color: $sky-dark;
		border: 2px solid $sky-dark;
		height: 26px;
		a{
			color: white;
			font-size: 11px;
		}
		&:hover{
			background-color: transparent;
			color: $sky-dark;
			border: 2px solid $sky-dark;
			a{
				color: $sky-dark;
				font-size: 11px;
				text-decoration: none;
			}
		}
		&:focus{
			background-color: transparent;
			color: $sky-dark;
			border: 2px solid $sky-dark;
			a{
				color: $sky-dark;
				font-size: 11px;
				text-decoration: none;
			}
		}
	}
}

.nombre-partido{
	background-color: $nude;
	margin: 70px 0 20px 0;
	padding: 20px 0 30px 0;
}

.board{
	background-color: white;
	box-shadow: -5px 5px 0px $orange;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}

.breadcrumb {
	background-color: initial;
	font-weight: 700;
	text-transform: uppercase;;
	letter-spacing: 1.2px;
	font-size: xx-small;
	color: $blue;
	padding: initial;
	margin-bottom: 0px;
	border-radius: 0px;
	font-family: 'Montserrat', sans-serif;
}

.breadcrumb > li + li:before {
  content: "> ";
	color: $blue;
}

/*ASIDE MENU*/
button#dropdownMenu1{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: white;
	letter-spacing: 1.2px;
	padding: 5px;
	border: none;
	background-color: $orange-dark;
	height: 40px;
	width: 100%;
	-webkit-appearance: none;
	margin-bottom: 10px;
	margin-top: -30px;
	border-radius: 6px;
	font-family: 'Montserrat', sans-serif;
	&:hover{
		background-color: white;
		color: $orange-dark;
	}
}

ul.dropdown-menu.dropdown-select{
	width: 100%;
	border-radius: 6px;
	background-color: white;
	font-weight: 700;
	border: none;
	padding: 15px;
	color: $orange-dark;
	box-shadow: -5px 5px 0px $orange-dark;
	font-family: 'Montserrat', sans-serif;
	li > ul > li{
		list-style-type: disc;
	}
	a{
		color: $blue;
		&:hover{
			color: $orange;
			text-decoration: none;
		}
	}
}

aside.col-sm-3.col-md-3{
	padding: 0 15px 0 0;
}
.aside-menu {
	li {
		&.principal{
			text-align: center;
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 5px;
			padding: 10px 0 10px 0;
			line-height: 15px;
			background-color: $orange-dark;
			list-style-type: none;
			color: white;
			letter-spacing: 1.2px;
			text-transform: uppercase;
			border-radius: 5px;
			font-family: 'Montserrat', sans-serif;
			font-size: 11px;
				a {
					color: white;
					&:hover{
						text-decoration: none;
						color: $blue;
					}
					&:focus{
						text-decoration: none;
						color: $blue;
					}
					.collapse.in, .collapsing, .collapse{
					margin: 0;
					}
				}
				ul {
					padding-left: 0px;
					color: $blue;
					background-color: $nude;
					list-style: none;
					text-transform: none;
					letter-spacing: normal;
					margin: 0 0 -10px 0;
					font-family: 'Karla', sans-serif;
					font-size: 14px;
					li{
						padding: 10px 0 10px 0;
						background-color: white;
						margin: 5px 0 0 0;
						a {
							color: $blue;
							font-weight: 700;
							font-family: 'Montserrat', sans-serif;
							font-size: 11px;
							letter-spacing: 1px;
							text-transform: uppercase;
							&:hover{
								text-decoration: none;
								color: $orange;
							}
							&:focus{
								text-decoration: none;
								color: $orange;
							}
						}
					}
				}
			}
		}
}

.collapse.in, .collapsing, .collapse{
	padding: 0;
}

/*LEYENDAS*/
.leyenda-cargos{
	text-align: left;
	margin-top: 50px;
}

.leyenda{
	text-align: left;
	margin-top: 70px;
}

.leyenda-desgloce{
	text-align: left;
	margin-top: 20px;
}

.leyenda-colores-mapa{
	text-align: left;
	margin-top: 10px;
	margin-left: 25px;
}

.circle-lg{
	color: $green-light;
	float: left;
	margin-right: 5px;
}

.circle-gd{
	color: $green-dark;
	float: left;
	margin-right: 5px;
}

.square-or {
  border: solid 10px #FAC5BE;
	float: left;
  width: 10px;
  height: 10px;
}

.square-gr {
  border: solid 10px #E9DEDF;
	float: left;
  width: 10px;
  height: 10px;
}

/*SVG*/
div#header{
	margin-top: 10px;
}

/*SELECT*/
select#fecha_datos, select#select-region{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $nude;
	padding: 5px;
	margin-bottom: 20px;
	background-color: white;
	height: 40px;
	width: 200px;
	-webkit-appearance: none;
	background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#012639' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
	background-position: 98% 50%;
	background-repeat: no-repeat;
	border-radius: 6px;
	float: left;
	margin-right: 6px;
}

select#region, select#genero, select#tipo_cargo, select#trimestre_informado_id{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $nude;
	padding: 5px;
	margin-bottom: 20px;
	background-color: white;
	height: 40px;
	width: 200px;
	-webkit-appearance: none;
	background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#012639' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
	background-position: 98% 50%;
	background-repeat: no-repeat;
	vertical-align: top;
	border-radius: 6px;
	float: left;
	margin-right: 6px;
}

input#q, input#nombre{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $nude;
	padding: 5px;
	margin-bottom: 20px;
	background-color: white;
	height: 40px;
	width: 200px;
	-webkit-appearance: none;
	border-radius: 6px;
}

input[type="submit"]{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $nude;
	padding: 5px 15px 5px 15px;
	margin-bottom: 20px;
	background-color: white;
	height: 40px;
	-webkit-appearance: none;
	border-radius: 20px;
	&:hover{
		background-color: $orange;
		border: 2px solid $orange;
	}
}

input#partido_ids_, input#all{
	-webkit-appearance: none;
	background-color: white;
	height: 10px;
	width: 10px;
	border-radius:5px;
}

input#partido_ids_.marcado:checked {
	background-color: $blue;
}

input#all.marcado:checked {
	background-color: $blue;
}

select#category{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $blue;
	padding: 5px;
	margin-bottom: 20px;
	height: 40px;
	width: 100%;
	-webkit-appearance: none;
	background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#012639' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
	background-position: 98% 50%;
	background-repeat: no-repeat;
	background-color: transparent;
	border-radius: 6px;
	font-family: 'Montserrat', sans-serif;
}

input[type="submit"].transparente{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid white;
	border-radius: 0px;
	padding: 5px 15px 5px 15px;
	background-color: white;
	height: 40px;
	width: 100%;
	-webkit-appearance: none;
	margin: 60px 0 40px 0;
	border-radius: 20px;
	&:hover{
		background-color: transparent;;
		color: white;
	}
}

/*VARIOS*/
.basicos{
	margin-bottom: 40px;
	td{
		min-width: 150px;
	}
}

.documents{
	min-height: 100px;
	text-align: center;
	a{
		color: $blue;
		&:hover{
			color: $orange;
			text-decoration: none;
		}
	}
}

.panel-default > .panel-heading .badge{
	padding: 4px 8px;
	font-size: 10px;
	font-weight: 700;
	background-color: $orange;
}

i.fa.fa-circle.icon-green{
	color: $sky-dark;
}

/*PANELS*/
.panel{
	border: none;
	box-shadow: none;
}

.panel-default > .panel-heading{
	background-color: transparent;
	border: 3px solid $orange;
	border-radius: 10px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
	border-top: none;
}

/*MODASL*/
.modal-header{
	border-bottom: none;
	background-color: $orange;
}

.modal-content{
	border-radius: 0;
	box-shadow: none;
	border: none;
}

.popup{
	.modal-header{
		border-bottom: none;
		background-color: $sky-dark;
		color: white;
	}
	.modal-content{
		border-radius: 0;
		box-shadow: none;
		border: none;
		background-color: white;
		font-size: 16px;;
		color: $blue;
	}
	.btn-default{
		background-color: white;
		border: none;
		border-radius: 20px;
		color: $green;
		font-weight: 700;
		letter-spacing: 1.2px;
		font-size: 12px;
		border: 2px solid $green;
		&:hover{
			background-color: $green;
			color: white;
		}
	}
}

/*TABLES & COMPARATIVES*/
th{
	color: $blue;
	font-size: 10px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	width: auto;
	text-align: right;
}

.table > thead > tr > th {
	border-bottom: 1px solid $blue;
}

.porcentaje-movil{
	display: none;
}

.concepto-th{
	text-align: left;
}

.total-max{
	color: $blue;
	font-size: 40px;
	font-weight: 700;
}

.monto{
	color: $blue;
	font-size: 18px;
	font-weight: 700;
	text-align: right;
}

.total{
	color: $blue;
	font-size: 22px;
	font-weight: 700;
	text-align: left;
	&.monto{
		text-align: right;
	}
}

.numero{
	font-size: 24px;
  background-color: $blue;
  color: white;
  text-align: center;
  border-radius: 20px;
  width: 35px;
  margin: auto;
  font-weight: 700;
  margin-top: 20px;
}

.versalitas{
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 11px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: $blue;
}

.text-info{
	color: $blue;
	font-weight: 700;
	margin-bottom: 40px;
}

.comparacion{
	background-color: $orange-dark;
	margin: 70px 0 40px 0;
	padding-top: 0;
	h2, h4{
		color: white;
	}
}

.exigeles{
	background-color: $orange-dark;
	margin: 70px 0 40px 0;
	padding: 60px 0 20px;
	h2, h4{
		color: white;
	}
}


p.edades{
	text-align: center;
	width: 30px;
	height: 30px;
	margin: auto;
	border-radius: 15px;
	padding-top: 5px
}

.btn-view-detail{
	border-radius: 12px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1.2px;
	height: 24px;
	border: 2px solid $green;
	font-weight: 700;
	padding: 3px 10px;
	color: $green;
	a{
		color: $green;
	}
	&:hover{
		border: 2px solid $green;
		background-color: $green;
		color: white;
		a{
			color: white;
			text-decoration: none;
		}
	}
	&:focus{
			border: 2px solid $green;
			background-color: $green;
			color: white;
			a{
				color: white;
				text-decoration: none;
			}
	}
}

/*FOOTER*/
.site-footer{
  background-color: $blue;
  color: white;
  padding: 40px 0;
	margin-top: 30px;
	position: relative;
	bottom: -40px;
	width: 100%;
	a{
		color: white;
	}
}

.site-footer a:hover, .site-footer a :focus{
	color: $orange;
	text-decoration: none;
}

.logo-footer{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 11px;
	margin-bottom: 30px;
	img{
		margin-top: 10px;
	}
}

/*MEDIA-QUERIS*/
@media (max-width: 990px) {
		section.aviso{
			padding: 14px;
	}
}

@media (max-width: 991px) {
	.jumbotron{
		background: $orange-dark;
	}
	.vistas{
		min-height: 100px;
	}
}

@media (max-width: 961px) {
	.nav > li > a {
		padding: 0px 15px !important;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		position: relative;
		top: 24px;
	}
}

@media only screen and (max-width: 767px) {

		.porcentaje-movil{
			display: inline;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
		}

		.table-responsive {
			width: auto;
			table-layout: fixed;
		}

		.table-responsive th{
			color: $blue;
			font-size: 12px;
			letter-spacing: 1.2px;
			text-transform: uppercase;
		}

		 td{
		 		word-wrap: break-word;
				width: 100px;
		 		white-space: normal !important;
				text-align: center;
				vertical-align: middle;
		 		margin-bottom: 5px;
		 }

		.concepto-th{
			text-align: left;
		}

		.monto-th{
			text-align: right;
		}

		.concepto{
			font-size: 13px;
			text-align: left;
		}

		.monto{
			color: $blue;
			font-size: 13px;
			font-weight: 700;
			text-align: right;
			width: inherit;
		}

		.total{
			color: $blue;
			font-size: 14px !important;
			font-weight: 700;
			&.monto{
				text-align: right;
			}
		}
}

@media (max-width: 767px) {
	.navbar-toggle{
		margin-top: -1px;
		border: none;
		top: 20px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: $blue;
		top: 20px;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: $orange;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
		max-height: inherit;
	}

	.collapse.in, .collapsing, .collapse{
		padding: inherit;
	}

	.navbar-default .navbar-nav > li > a{
		padding: 15px;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: $orange;
		&:hover{
			color: white;
		}
	}

	aside.col-sm-3.col-md-3{
		padding: 0 0 0 0;
	}

	select#fecha_datos, select#select-region, select#region, select#genero, select#category, select#tipo_cargo, input#q, input#nombre, input[type="submit"]{
		width: 100%;
		margin-bottom: 10px;
	}

	.leyenda-cargos, .leyenda, .leyenda-desgloce{
		text-align: left;
		margin: 0 0 40px 0;
	}
}

@media screen and (max-width: 660px) {
	.timeline {
	 	width: 100%;
		padding: 4em 0 1em 0;
	}

	.timeline:before {
		left: 50%;
		top: 29px;
		height: 79%;
	}

	.timeline li {
	}

	.direction-r {
		float: none;
		width: 100%;
		text-align: center;
		left: 0;
	}

	.flag-wrapper {
		text-align: center;
	}

	.flag {
		background: $orange-dark;
		z-index: 15;
	}

	.direction-r .flag:before {
	  position: absolute;
	  top: -18px;
		left: 43%;
		content: ' ';
		display: block;
		width: 12px;
		height: 12px;
		background: $sky-dark;
		border-radius: 10px;
		border: none;
		z-index: 10;
	}

	.direction-r .flag:after {
		content: "";
		position: absolute;
		left: 50%;
		top: -8px;
		height: 0;
		width: 0;
		margin-left: -8px;
		border: solid transparent;
		border-bottom-color: $orange-dark;
		border-width: 8px;
		pointer-events: none;
	}

	.time-wrapper {
		display: block;
		position: relative;
		margin: 4px 0 0 0;
		z-index: 14;
	}

	.direction-r .time-wrapper {
		float: none;
	}

	.desc {
		position: relative;
		margin: 1em 0 0 0;
		padding: 1em;
		background: $nude;
	  z-index: 15;
		border-radius: 6px;
	}

	.direction-r .desc {
		position: relative;
		margin: 15px 0 40px 0;
		padding: 26px;
	  z-index: 15;
	}

	.desc > ul > li{

	}
}

@media (max-width: 503px) {
	.vistas{
		min-height: 135px;
	}
}

@media screen and (max-width: 470px) {
	a.btn.btn-xs.parties{
		font-size: 9px;
	}
}

@media (max-width: 461px) {
	section.aviso{
		padding: 10px;
		height: 78px;
	}
}

@media (max-width: 415px) {
	h1{
		font-size: 46px;
	}
	mark{
		font-size: 22px;
	}
	.btn-primary.basic a{
		font-size: 11px;
		letter-spacing: 0;
	}
	.dropdown-menu li {
		margin-bottom: 5px;
 }
 .nav li {
	 margin-bottom: 3px;
 }
}
@media (max-width: 336px) {
	section.aviso{
		height: 98px;
	}
}
