@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'https://fonts.googleapis.com/css?family=Karla:400,700';

$red : #87e0fd; 	/* Here's how you assign the values to a variable */
$darkblue : #2cafe3;
$cpad: 20px;		/* Variables are not limited to colors, you can use it to store values too*/
$nude: #EADFE1;
$nude-light: #F4F2F2;
$orange-dark: #E85D34;
$orange: #F28269;
$orange-light: #FAC5BE;
$blue: #012639;
$green: #1AC0A4;
$green-light: #23DBB8;
$green-dark: #19A58A;
$sky-dark: #06B9BF;
$sky-light: #78EEE8;

/*GENERAL*/
body {
	background-color: $nude;
	font-family: 'Karla', sans-serif;
	color: $blue;
}

span{
	font-weight: 700;
}

.board{
	background-color: white;
	box-shadow: -5px 5px 0px $orange;
	margin-top: 43px;
	padding-top: 20px;
}

.nospace{
		padding: 0;
}

/*NAV*/
.navbar-default{
	background-color: #0A3451;
	border: none;
	height: 70px;
	color: white;
	border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.3px;
  font-weight: 400;
	padding: 24px 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: $orange;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: white;
}

.dropdown-menu {
  padding: 8px 0;
  font-size: 11px;
  background-color: #0A3451;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.dropdown-menu > li > a{
	color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: $orange;
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background-color: #0A3451;
    z-index: 2000;
}

/*HEADINGS*/
h3{
	font-weight: 700;
	color: $orange-dark;
	font-size: 22px;
	margin: 5px 0 10px 0;
}

h4{
	font-weight: 700;
	color: $blue;
	font-size: 16px
}

h5 {
	color: $blue;
	font-size: 22px;
}

h6 {
	font-weight: 700;
	color: $blue;
	font-size: 46px
}

h7 {
	text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 9px;
  font-weight: 700;
}

/*TABLES*/
th{
	color: $blue;
	font-size: 10px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	width: 200px;
}

.table > thead > tr > th {
	border-bottom: 1px solid $blue;
}

/*ASIDE MENU*/
.aside-menu {
	li {
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 5px;
		padding: 10px 0 10px 0;
		line-height: 15px;
		background-color: white;
		list-style: none;
		color: $blue;
			a {
				color: $blue;
				&:hover{
					text-decoration: none;
					color: $orange;
				}
			}
		&.principal{
			background-color: $orange-dark;
			letter-spacing: 1.2px;
			text-transform: uppercase;
			color: white;
			a {
				color: white;
				&:hover{
					text-decoration: none;
					color: $blue;
				}
			}
		}
		ul {
			padding-left: 0px;
				a {
					color: $blue;
					font-weight: 400;
					&:hover{
						text-decoration: none;
						color: $orange;
					}
				}
		}
	}
}

.collapse.in, .collapsing, .collapse{
	padding: 0;
}

/*NAV*/
.leyenda-cargos{
	text-align: left;
	margin-top: 50px;
}

.leyenda{
	text-align: left;
	margin-top: 70px;
}

.leyenda-desgloce{
	text-align: left;
	margin-top: 20px;
}

/*SELECT*/
select#fecha_datos{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $nude;
	border-radius: 0px;
	padding: 5px;
	margin-top: 20px;
	background-color: white;
	height: 40px;
	width: 200px;
	-webkit-appearance: none;
	margin-top: 0;
	background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#012639' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
	background-position: 98% 50%;
	background-repeat: no-repeat;
}

select#select-region{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $nude;
	border-radius: 0px;
	padding: 5px;
	margin-top: 20px;
	background-color: white;
	height: 40px;
	width: 200px;
	-webkit-appearance: none;
	margin-top: 0;
	background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#012639' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
	background-position: 98% 50%;
	background-repeat: no-repeat;
}

input#q{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $nude;
	border-radius: 0px;
	padding: 5px;
	margin-top: 20px;
	background-color: white;
	height: 40px;
	width: 200px;
	-webkit-appearance: none;
	margin: 0 0 20px 0;
}

input#nombre{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $nude;
	border-radius: 0px;
	padding: 5px;
	margin-top: 20px;
	background-color: white;
	height: 40px;
	width: 200px;
	-webkit-appearance: none;
	margin: 0 0 20px 0;
}

input[type="submit"]{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: $blue;
	letter-spacing: 1.2px;
	border: 2px solid $nude;
	border-radius: 0px;
	padding: 5px 15px 5px 15px;
	margin-top: 20px;
	background-color: white;
	height: 40px;
	-webkit-appearance: none;
	margin: 0 0 20px 0;
}


/*VARIOS*/
.basicos{
	margin-bottom: 40px;
	td{
		min-width: 150px;
	}
}

.documents{
	min-height: 100px;
	text-align: center;
	a{
		color: $blue;
		&:hover{
			color: $orange;
			text-decoration: none;
		}
	}
}

/*ELEMENTS*/
.panel-default > .panel-heading .badge{
	padding: 4px 8px;
	font-size: 10px;
	font-weight: 400;
	background-color: $orange;
}



/*PANELS*/
.panel{
	border: none;
	box-shadow: none;
}

.panel-default > .panel-heading{
	background-color: transparent;
	border: 3px solid $orange;
	border-radius: 0px;
}

/*MEDIA-QUERIS*/
@media (max-width: 280px) {
	select#fecha_datos{
		width: inherit;
	}

}
