<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @region.nombre %>
</p>

<%= link_to 'Edit', edit_partido_region_path(@partido, @region) %> |
<%= link_to 'Back', partido_regions_path(@partido) %>
