<!DOCTYPE html>
<html ng-app="papuApp">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Partidos Públicos</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

      <%= csrf_meta_tags %>

</head>

<body>
<!-- Navigation -->
<!-- Modal -->
<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
		<h2 class="text-center blue-dark">¡Bienvenido/a a la cancha que observamos todos y todas!</h2>
		<a class="btn btn-default btn-block" href="https://welcu.com/ciudadano-inteligente/lanzamiento-partidos-publicos" role="button" target="_blank">Retira tu ticket para el lanzamiento<br> de Partidos Públicos</a>
		<p class="text-center blue-dark">Jueves 8 de septiembre<br>20:00 hrs.<br>Lugar por confirmar</p>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
<!--
$('#memberModal').modal('show');
//-->
</script>

<header>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <div class="brand">
	        <a class="site-title" href="{{ site.baseurl }}/"><img src="/img/logo.png"></a>
	        <div class="sub-brand"><a href="http://ciudadanointeligente.org" target="_blank">de CiudadanoInteligente.org</a>
	        </div>
	      </div>
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#manual">La transparencia que queremos</a></li>
	        <li><a href="#que-es">Partidos Públicos</a></li>
	        <li><a href="#partidos-adheridos">Partidos que participan</a></li>
	        <li><a href="#lanzamiento">Lanzamiento</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</nav>
</header>

<!-- Page Content -->

<div id="welcome">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>Esta cancha la observamos todos y todas</h1>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="section nude hidden" id="manual">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h2 class="text-center blue-dark">¿Qué transparencia queremos de los partidos políticos?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="img/manual01.png">
				<a class="btn btn-default btn-block" href="#" role="button" target="_blank">Rol de los partidos políticos</a>
			</div>
			<div class="col-md-4 text-center">
				<img src="img/manual02.png">
				<a class="btn btn-default btn-block" href="/transparencia.html" role="button" target="_blank">Transparencia</a>
			</div>
			<div class="col-md-4 text-center">
				<img src="img/manual03.png">
				<a class="btn btn-default btn-block" href="#" role="button" target="_blank">Nueva Ley de partidos políticos</a>
			</div>
		</div>
	</div>
</div>

<div class="section" id="que-es">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center orange">¿Qué es?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<a class="btn btn-default btn-block orange hidden" href="#" role="button" target="_blank">Entra a la cancha<br>de Partidos Públicos</a>
			</div>
		</div>
	</div>
</div>

<div class="section blue-dark" id="partidos-adheridos">
	<div class="container">
		<div class="panel panel-default">
  			<div class="panel-body">
			<h2 class="text-center blue-dark">Partidos que se han sumado a la plataforma</h2>
				<div class="container">
					<div class="row">
						<div class="col-xs-6 col-sm-4 col-md-4 text-center">
						<img src="img/01-amplitud.png" class="img-responsive">
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 text-center">
						<img src="img/02-ciudadanos.png" class="img-responsive">
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 text-center">
						<img src="img/03-pc.png" class="img-responsive">
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 text-center">
						<img src="img/04-pdc.png" class="img-responsive">
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 text-center">
						<img src="img/05-evopoli.png" class="img-responsive">
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 text-center">
						<img src="img/06-pl.png" class="img-responsive">
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 text-center">
						<img src="img/07-ppd.png" class="img-responsive">
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 text-center">
						<img src="img/08-rd.png" class="img-responsive">
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 text-center">
						<img src="img/09-ps.png" class="img-responsive">
						</div>
					</div>
		  		</div>
			</div>
		</div>
	</div>
</div>

<div class="section orange" id="lanzamiento">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<h2 class="text-center blue-dark">¡Bienvenido/a a la cancha que observamos todos y todas!</h2>
			<a class="btn btn-default btn-block" href="https://welcu.com/ciudadano-inteligente/lanzamiento-partidos-publicos" role="button" target="_blank">Retira tu ticket para el lanzamiento<br> de Partidos Públicos</a>
			<p class="text-center blue-dark">Jueves 8 de septiembre<br>20:00 hrs.<br>Lugar por confirmar</p>
			</div>
		</div>
	</div>
</div>

<div class="section blue-dark" id="undef-cht">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h4 class="text-center white">Este es un proyecto de</h4>
				<a href="http://ciudadanointeligente.org" target="_blank"><img src="img/logo-fci.png"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="col-md-6 text-center">
					<h4 class="text-center white">Con el apoyo de</h4>
					<a href="http://www.un.org/undef" target="_blank"><img src="img/logo-undef.png"></a>
				</div>
				<div class="col-md-6 text-center">
					<h4 class="text-center white">Con la colaboración de</h4>
					<a href="http://www.chiletransparente.cl" target="_blank"><img src="img/logo-cht.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Footer -->
<footer class="site-footer">

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="mailto:info@ciudadanointeligente.org?Subject=Semaforo%20electoral%20FCI" class="email-prensa" target="_top"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mándanos un correo</a></li>
          <li><a href="//github.com/ciudadanointeligente" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Revisa nuestro código</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
            Un proyecto de <a href="//ciudadanointeligente.org" target="_blank"><img src="https://ckannet-storage.commondatastorage.googleapis.com/2015-01-22T13:31:59.187Z/logo-ciudadanoi-parafondooscuro.png" title="Fundación Ciudadano Inteligente" data-pin-nopin="true"></a>
          </li>
      </ul></div>
      <div class="col-md-4"></div>
        <ul class="list-unstyled text-right">
          <li><a href="https://twitter.com/ciudadanoi" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
          <li><a href="https://www.facebook.com/ciudadanointeligente" target="blank"><i class="fa  fa-facebook" aria-hidden="true"></i> Ciudadano Inteligente</a></li>
        </ul>
      </div>
    </div>

  

</footer>


</body>

</html>