<!DOCTYPE html>
<html ng-app="papuApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Partidos Públicos</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

      <%= csrf_meta_tags %>

</head>

<body>
<header>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <div class="brand">
	        <a class="site-title" href="{{ site.baseurl }}/"><img src="/img/logo.png"></a>
	        <div class="sub-brand"><a href="http://ciudadanointeligente.org" target="_blank">de CiudadanoInteligente.org</a>
	        </div>
	      </div>
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="hidden"><a href="#manual">La transparencia que queremos</a></li>
	        <li><a href="#que-es">¿Qué es?</a></li>
	        <li><a href="#partidos-adheridos">Partidos que participan</a></li>
	        <li><a href="#lanzamiento">Lanzamiento</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</nav>
</header>

<div class="section nude">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="blue-dark text-center">Transparencia para la democracia</h2>
				<p>La transparencia es un principio básico en una democracia sana. A través de ella, instituciones y autoridades rinden cuentas a la sociedad de manera permanente y la ciudadanía puede ejercer su derecho a fiscalizar, a informarse y a participar de manera democrática.</p>
			</div>
		</div>	
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default green">
		  			<div class="panel-body">
						<h2 class="text-center blue-dark">¿Cómo entender la transparencia?</h2>
						<p class="white text-center">La transparencia se debe entender desde dos ejes principales:</p>
							<div class="row">
								<div class="col-md-8">
								<p class="white"><b>• PUBLICIDAD:</b> Publicación oportuna y pertinente de la información relevante: ingresos, gastos, estructura, procesos deliberativos, vínculos e intereses, cómo participar o denunciar, etc.</p>
								<p class="white"><b>• ESTÁNDARES DE PUBLICIDAD:</b> Medios adecuados para visualizar, comparar y entender fácilmente la información. Es decir, que la información publicada sea una herramienta de fiscalización y un elemento que facilite la participación de ciudadanos y militantes.</p>
								</div>
								<div class="col-md-4 text-center">
									<img src="img/m02-info.png">
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="panel panel-default shadow-green">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center blue-dark">¿Es suficiente la transparencia?</h2>
							<p class="text-center">La transparencia es necesaria, pero no suficiente. Para fortalecer nuestra democracia, esta debe ir de la mano con mayor regulación a entidades públicas y una ciudadanía empoderada que se haga parte de los procesos políticos.</p>
					  		<div class="row">
					  			<div class="col-md-4 text-center">
					  			<img src="img/m02-transparencia.png">
					  			<h5>Transparencia</h5>
					  			</div>
					  			<div class="col-md-4 text-center">
					  			<img src="img/m02-regulacion.png">
					  			<h5>Regulación</h5>
					  			</div>
					  			<div class="col-md-4 text-center">
					  			<img src="img/m02-ciudadania.png">
					  			<h5>Ciudadanía empoderada</h5>
					  			</div>
					  		</div>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
	</div><!-- Container -->

</div><!-- Section -->



<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="mailto:info@ciudadanointeligente.org?Subject=Semaforo%20electoral%20FCI" class="email-prensa" target="_top"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mándanos un correo</a></li>
          <li><a href="//github.com/ciudadanointeligente" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Revisa nuestro código</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
            Un proyecto de <a href="//ciudadanointeligente.org" target="_blank"><img src="img/fci-azul.png" title="Fundación Ciudadano Inteligente" data-pin-nopin="true"></a>
          </li>
      </ul></div>
      <div class="col-md-4"></div>
        <ul class="list-unstyled text-right">
          <li><a href="https://twitter.com/ciudadanoi" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
          <li><a href="https://www.facebook.com/ciudadanointeligente" target="blank"><i class="fa  fa-facebook" aria-hidden="true"></i> Ciudadano Inteligente</a></li>
        </ul>
      </div>
    </div>
</footer>

</body>
</html>
